<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <!--Use the name `name` for the form control.-->
        <input type="text" id="name" formControlName="name" placeholder="Input text"/>
        <span *ngIf="name.invalid && (name.touched || submitted)" class="text-danger">
          Name is required and must be at least 6 characters long.
        </span>
      </div>
      <div class="form__control">
        <!--Use the name `email` for the form control.-->
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email" emailValidatorDirective placeholder="Input text"/>
        <span *ngIf="email.invalid && (email.touched || submitted)" class="text-danger">
          Email is required or invalid.
        </span>
      </div>
        <!--Use the name `password` for the form control.-->
        <div class="form__control">
          <label for="password">Password</label>
          <input type="password" id="password" formControlName="password" placeholder="Input text"/>
          <span *ngIf="password.invalid && (password.touched || submitted)" class="text-danger">
            Password is required and must be at least 6 characters long.
          </span>
      </div>
    </div>
    <div class="form__action">
      <app-button></app-button>
    </div>
  </div>
</div>
